/*테이블 요소*/
th,
td {
  border: 1px solid;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  width: 1000px;
}
.remark {
  background-color: rgba(221, 219, 219, 0.884);
} /*테이블 색상*/

/*레이아웃*/
.content {
  width: 75%;
  float: right;
}
aside {
  width: 20%;
  float: left;
  height: 1000px;
  border-right: dashed 3px;
}
.clear {
  clear: both;
}
aside[class] ul > li::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid black;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin: -5px 10px auto auto;
  vertical-align: middle;
}
aside ul > li + ol > li {
  list-style-type: lower-roman;
}
article p:active,
section p:active {
  background-color: #eee;
} /*문단 색상*/

#first-p:first-of-type:first-letter {
  font-size: 3em;
  font-weight: bold;
  color: green;
  float: left;
  font-family: "Gentium Book Basic", serif;
}
article p:not(#first-p)::before,
section p::before {
  margin-left: 10px;
  content: "";
}
